<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — SkaByGecko</title>
<body>
  <header>
    <h1>SkaByGecko</h1>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif
          %}><a href="{{ '/'|url }}">All</a></li>
        {% for category in site.query('/categories') %}
          <li{% if this == category %} class="active"{% endif
            %}><a href="{{ category|url }}">{{ category.name }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
    &copy; Copyright 2016 by Gabriel Koscky.
  </footer>
</body>
